In [1]:
!which jupyter
import numpy as np
import pandas as pd
from pprint import pprint
from tqdm import tqdm
import re

/home/ubuntu/thesis_env2/bin/jupyter

In [2]:
# NER File
df_ner = pd.read_pickle('./data/df_ner_matched_210913.pickle')
print(len(df_ner))

369045

In [3]:
df_ner.head(1)

,author,date,domain,title,url,content,topic_area,org_names,filtered_names,filtered_names_match
0,Thomas Hughes,2020-01-02,marketbeat,Three Industrial Giants You Should Own In 2020,https://www.marketbeat.com/originals/three-ind...,With the end of the year just around the corne...,business,"[BA, Boeing, CAT, CMI, Caterpillar, Cummins In...","[Boeing, Caterpillar, Cummins Inc, Deere & Com...","[Caterpillar Inc., Cummins Inc., Deere & Compa..."

In [4]:
# Sentiment Analysis
df_sent = pd.read_pickle('./data/df_sentiment.pickle')
df_sent['finbert'] = df_sent['finbert'].str.upper()

sentiment_match = np.array(df_sent[['finbert', 'distilbert', 'roberta']])
sentiment_match = np.all(np.equal(sentiment_match, sentiment_match[:,:1]), axis=1)
df_sent['sentiment_match'] = sentiment_match
print(len(df_sent))

# Topics
df_topics = pd.read_pickle("./data/df_with_topics")
df_topics['topic_label_str'] = ['_'.join(map(str, l)) for l in df_topics['topic_label']]
print(len(df_topics))

365200
365200

In [5]:
# List of all companies in filterned_names_match
companies = [comp for sublist in df_ner['filtered_names_match'].tolist() for comp in sublist]
#companies = sorted(set(companies))

In [6]:
list(filter(lambda x: "Wesfarmers" in x, companies))

['Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited',
 'Wesfarmers Limited']

In [7]:
from collections import Counter
companies_count = Counter(companies)
companies_count = pd.DataFrame.from_dict(companies_count, orient='index', columns=['count']).reset_index()
companies_count.columns = ['company', 'count']
companies_count.head(1)

            company  count
0  Caterpillar Inc.    526

In [8]:
companies_count[companies_count['company'].str.lower().str.contains('samsung')]

Empty DataFrame
Columns: [company, count]
Index: []

In [9]:
companies_count.sort_values(by='count', ascending=False)[100:150]

                                     company  count
864                 First Property Group plc    569
371                       NVIDIA Corporation    560
90              Marriott International, Inc.    552
155             The Procter & Gamble Company    544
0                           Caterpillar Inc.    526
1292             Hertz Global Holdings, Inc.    519
182                                BHP Group    517
311                    IG Group Holdings plc    516
483                    Liverpool Group, Inc.    511
801                  American Software, Inc.    510
134                        Merck & Co., Inc.    502
120                          CMC Markets Plc    501
581               Simon Property Group, Inc.    499
128                  Uber Technologies, Inc.    495
140                   Royal Gold Mining Inc.    492
561              SMART Global Holdings, Inc.    489
135                        FedEx Corporation    489
748                   CVS Health Corporation    476
525                             Grubhub Inc.    466
129                The Blackstone Group Inc.    464
146                   Stifel Financial Corp.    464
472                 Lincoln Gold Mining Inc.    462
970                        TX Holdings, Inc.    451
914                   CMS Energy Corporation    447
218              Verizon Communications Inc.    442
354             Bristol-Myers Squibb Company    442
75                                Air Canada    441
681                              ALS Limited    435
167             Advanced Micro Devices, Inc.    434
115             Inovio Pharmaceuticals, Inc.    434
89                 MGM Resorts International    434
297           Walgreens Boots Alliance, Inc.    431
570                   Everton Resources Inc.    431
347                  Mastercard Incorporated    430
549                     Royal Bank of Canada    428
10               Thomson Reuters Corporation    427
165                                  HP Inc.    423
23                         Tyson Foods, Inc.    418
485                      Sterling Energy plc    415
850                        Chase Corporation    413
444                              CSR Limited    411
246                               Amgen Inc.    410
764                             Macy's, Inc.    407
721         Occidental Petroleum Corporation    405
1560          Quest Diagnostics Incorporated    404
317          UnitedHealth Group Incorporated    403
186   American Transportation Holdings, Inc.    399
1073             JetBlue Airways Corporation    394
852                       Palace Capital Plc    387
96                 Oppenheimer Holdings Inc.    387

In [10]:
df_combined = pd.merge(df_sent, df_topics[['topic_id', 'topic_label_str', 'topic_score']], how='left', left_index=True, right_index=True)
df_combined = pd.merge(df_combined, df_ner[['filtered_names_match']], how='left', left_index=True, right_index=True)
df_combined['nb_companies'] = df_combined['filtered_names_match'].apply(lambda x: len(x))

In [11]:
df_combined

,author,date,domain,title,url,content,topic_area,content_processed,distilbert,finbert,roberta,sentiment_match,topic_id,topic_label_str,topic_score,filtered_names_match,nb_companies
0,Thomas Hughes,2020-01-02,marketbeat,Three Industrial Giants You Should Own In 2020,https://www.marketbeat.com/originals/three-ind...,With the end of the year just around the corne...,business,end year corner past time think positioning fo...,POSITIVE,NEUTRAL,POSITIVE,False,970,,0.437342,"[Caterpillar Inc., Cummins Inc., Deere & Compa...",5
1,Thomas Hughes,2020-01-03,marketbeat,Labor Stocks Are Going To Break Out In 2020,https://www.marketbeat.com/originals/labor-sto...,The labor markets were one of the most closely...,business,labor markets closely watched segment economy ...,NEGATIVE,NEGATIVE,POSITIVE,False,723,,0.383544,[Cintas Corporation],1
2,Steve Anderson,2020-01-03,marketbeat,"Tesla (TSLA) Breaks Shipment Record, Beats Est...",https://www.marketbeat.com/originals/teal-brea...,"It could be forgiven, that some might think th...",business,forgiven think tesla nasdaq tsla little big pi...,POSITIVE,POSITIVE,POSITIVE,True,436,,0.496218,"[Tesla, Inc.]",1
3,Roberto Torres,2020-01-03,ciodive,"On the road to AI adoption, execs grapple with...",https://www.ciodive.com/news/ai-adoption-execs...,CIOs kicked off 2019 with AI as an item to wat...,tech,cios kicked ai item watch competition agenda a...,POSITIVE,NEUTRAL,POSITIVE,False,234,,0.750307,"[Gartner, Inc.]",1
4,Alden Wicker,2020-01-06,instyle,Red Carpet Sustainability After Coronavirus Sh...,https://www.instyle.com/fashion/red-carpet-cor...,When the coronavirus pandemic is over and life...,consumer,coronavirus pandemic life returns normal celeb...,POSITIVE,NEUTRAL,POSITIVE,False,28,luxury_fashion_retailers_covid_stimulus,0.450103,[],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369042,Polly Harrison,2020-12-31,thefintechtimes,A Human Touch Will Be a Competitive Edge After...,https://thefintechtimes.com/53867-2/,Niels Pedersen is a Chartered Accountant and S...,finance,niels pedersen chartered accountant senior lec...,POSITIVE,NEUTRAL,POSITIVE,False,67,fintech,0.588367,[Lloyds Banking Group plc],1
369043,NaN,2020-12-31,marketscreener,Datametrex AI : Announces Deploying NexaSecuri...,https://www.marketscreener.com/quote/stock/DAT...,Datametrex AI Limited (TSXV: DM) (FSE: D4G) (O...,business,datametrex ai limited tsxv dm fse d4g otc pink...,POSITIVE,NEUTRAL,POSITIVE,False,696,,0.519550,"[American International Holdings Corp., Datame...",2
369044,Polly Harrison,2020-12-31,thefintechtimes,"US Payments: Smart Pension, Episode Six, PAAY ...",https://thefintechtimes.com/us-payments-smart-...,"This December, The Fintech Times is asking ind...",finance,december fintech times asking industry leaders...,POSITIVE,NEUTRAL,POSITIVE,False,67,fintech,0.617454,[],0
369045,NaN,2020-12-31,marketscreener,"WESTWATER RESOURCES, INC. : Entry into a Mater...",https://www.marketscreener.com/quote/stock/WES...,Item 1.01Entry into a Material Definitive Agre...,business,item 101entry material definitive agreement de...,POSITIVE,NEUTRAL,POSITIVE,False,421,,0.580690,"[American International Holdings Corp., Westwa...",2
369046,NaN,2020-12-31,marketscreener,FTSE 100 wraps up worst year since 2008 financ...,https://www.marketscreener.com/quote/index/FTS...,"The FTSE 100 lost 1.5%, with consumer stocks, ...",business,ftse lost consumer stocks mainly unilever diag...,NEGATIVE,NEGATIVE,NEGATIVE,True,10,general_stock_updates,0.588543,"[AJ Bell plc, British American Tobacco p.l.c.,...",4

In [12]:
df_combined[df_combined['topic_label_str'] != ""]

,author,date,domain,title,url,content,topic_area,content_processed,distilbert,finbert,roberta,sentiment_match,topic_id,topic_label_str,topic_score,filtered_names_match,nb_companies
4,Alden Wicker,2020-01-06,instyle,Red Carpet Sustainability After Coronavirus Sh...,https://www.instyle.com/fashion/red-carpet-cor...,When the coronavirus pandemic is over and life...,consumer,coronavirus pandemic life returns normal celeb...,POSITIVE,NEUTRAL,POSITIVE,False,28,luxury_fashion_retailers_covid_stimulus,0.450103,[],0
18,By Sui-Lee Wee and Donald G. McNeil Jr.,2020-01-09,nytimes,China Identifies New Virus Causing Pneumoniali...,https://www.nytimes.com/2020/01/08/health/chin...,HONG KONG — Chinese researchers say they have ...,business,hong kong chinese researchers identified new v...,NEGATIVE,NEUTRAL,NEGATIVE,False,1,nytimes_updates,0.553961,[],0
24,By Amy Qin and Javier C. Hernández,2020-01-11,nytimes,China Reports First Death From New Virus,https://www.nytimes.com/2020/01/10/world/asia/...,HONG KONG — Chinese state media on Saturday re...,business,hong kong chinese state media saturday reporte...,NEGATIVE,NEGATIVE,NEGATIVE,True,1,nytimes_updates,0.523607,[],0
27,Thomas Hughes,2020-01-13,marketbeat,"Lululemon Growth Strategy Gains Traction, Guid...",https://www.marketbeat.com/originals/lululemon...,Lululemon (LULU) just raised its 4th quarter g...,business,lululemon lulu raised 4th quarter guidance sha...,POSITIVE,POSITIVE,POSITIVE,True,89,clothing_retailers_store_closures,0.551399,"[NIKE, Inc.]",1
29,Chris Markoch,2020-01-13,marketbeat,How to Approach Bank Stocks as Earnings Season...,https://www.marketbeat.com/originals/how-to-ap...,Some of the nation’s largest banks such as JP ...,business,nation largest banks jp morgan chase nysejpm b...,POSITIVE,NEUTRAL,POSITIVE,False,92,banks,0.449021,"[Bank of America Corporation, Capital One Fina...",11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369040,By Rachel Fakhry,2020-12-31,greenbiz,"If we want hydrogen to live up to its promise,...",https://www.greenbiz.com/article/if-we-want-hy...,This year saw a slew of global hydrogen announ...,environment,year saw slew global hydrogen announcements ea...,NEGATIVE,NEUTRAL,POSITIVE,False,30,climate_change_carbon_emissions,0.537654,"[Hydrogen Group Plc, WEC Energy Group, Inc.]",2
369041,Gina Clarke,2020-12-31,thefintechtimes,Behind the Idea: Kidbrooke,https://thefintechtimes.com/behind-the-idea-ki...,After nearly 20 years of an international care...,finance,nearly years international career insurance ca...,POSITIVE,NEUTRAL,POSITIVE,False,67,fintech,0.642278,[],0
369042,Polly Harrison,2020-12-31,thefintechtimes,A Human Touch Will Be a Competitive Edge After...,https://thefintechtimes.com/53867-2/,Niels Pedersen is a Chartered Accountant and S...,finance,niels pedersen chartered accountant senior lec...,POSITIVE,NEUTRAL,POSITIVE,False,67,fintech,0.588367,[Lloyds Banking Group plc],1
369044,Polly Harrison,2020-12-31,thefintechtimes,"US Payments: Smart Pension, Episode Six, PAAY ...",https://thefintechtimes.com/us-payments-smart-...,"This December, The Fintech Times is asking ind...",finance,december fintech times asking industry leaders...,POSITIVE,NEUTRAL,POSITIVE,False,67,fintech,0.617454,[],0
369046,NaN,2020-12-31,marketscreener,FTSE 100 wraps up worst year since 2008 financ...,https://www.marketscreener.com/quote/index/FTS...,"The FTSE 100 lost 1.5%, with consumer stocks, ...",business,ftse lost consumer stocks mainly unilever diag...,NEGATIVE,NEGATIVE,NEGATIVE,True,10,general_stock_updates,0.588543,"[AJ Bell plc, British American Tobacco p.l.c.,...",4

In [13]:
df_combined.loc[306]['filtered_names_match']

['Advanced Micro Devices, Inc.',
 'American Airlines Group Inc.',
 'Comcast Corporation',
 'Intel Corporation',
 'Southwest Airlines Co.']

In [14]:
selection = ['American Airlines Group Inc.']
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                                           date
topic_id topic_label_str                       distilbert
34       airlines                              NEGATIVE     213
458      airlines_cost_cutting_reduced_flights NEGATIVE      51
34       airlines                              POSITIVE      45
573      airlines_flights_suspended            NEGATIVE      39
317      airlines_covid_19_safety_measures     NEGATIVE      38
...                                                         ...
138                                            NEGATIVE       1
383                                            POSITIVE       1
387                                            NEGATIVE       1
165                                            NEGATIVE       1
179                                            NEGATIVE       1

[259 rows x 1 columns]

In [15]:
selection = ['Carnival plc']
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                                 date
topic_id topic_label_str             distilbert
103      cruises                     NEGATIVE     121
10       general_stock_updates       NEGATIVE      35
103      cruises                     POSITIVE      27
551      cruises_passengers_covid_19 NEGATIVE      16
732      general_stock_updates       NEGATIVE      13
...                                               ...
357                                  POSITIVE       1
321                                  POSITIVE       1
319                                  POSITIVE       1
                                     NEGATIVE       1
1733     general_stock_updates       NEGATIVE       1

[138 rows x 1 columns]

In [16]:
selection = ['NVIDIA Corporation']
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                               date
topic_id topic_label_str           distilbert
242      amd_nvidia_microprocessor POSITIVE      22
5        us_shares                 POSITIVE       9
242      amd_nvidia_microprocessor NEGATIVE       9
460      us_shares                 NEGATIVE       8
1027                               NEGATIVE       8
...                                             ...
535                                NEGATIVE       1
550                                NEGATIVE       1
                                   POSITIVE       1
557                                NEGATIVE       1
1692     us_shares_down            NEGATIVE       1

[74 rows x 1 columns]

In [17]:
selection = ['Advanced Micro Devices, Inc.']
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                                                   date
topic_id topic_label_str                               distilbert
242      amd_nvidia_microprocessor                     POSITIVE      27
                                                       NEGATIVE      25
434      us_shares                                     POSITIVE      15
812      us_shares                                     NEGATIVE      13
5        us_shares                                     NEGATIVE      10
1660     company_specific_amd_nvidia_microprocessor    POSITIVE       9
460      us_shares                                     NEGATIVE       8
1355                                                   NEGATIVE       4
1308                                                   NEGATIVE       4
1099                                                   NEGATIVE       3
958                                                    NEGATIVE       3
698                                                    NEGATIVE       3
382                                                    NEGATIVE       3
315                                                    NEGATIVE       3
1692     us_shares_down                                NEGATIVE       3
94       result_announcements                          POSITIVE       3
112      general_stock_updates                         NEGATIVE       2
94       result_announcements                          NEGATIVE       2
1047                                                   POSITIVE       2
434      us_shares                                     NEGATIVE       2
425                                                    POSITIVE       2
5        us_shares                                     POSITIVE       2
698                                                    POSITIVE       2
1365                                                   NEGATIVE       1
40       general_stock_updates                         NEGATIVE       1
1315                                                   POSITIVE       1
1314     semiconductor_tech_company_china_supply_chain POSITIVE       1
66       etf                                           POSITIVE       1
1386                                                                  1
1477                                                   NEGATIVE       1
1197                                                   POSITIVE       1
1103                                                   POSITIVE       1
79       general_stock_updates                         NEGATIVE       1
1081                                                   NEGATIVE       1
1657     credit_cards_digital_payments                 POSITIVE       1
977                                                    POSITIVE       1
842                                                    POSITIVE       1
182                                                    POSITIVE       1
192                                                    POSITIVE       1
550                                                    POSITIVE       1
230                                                    NEGATIVE       1
240                                                    NEGATIVE       1
182                                                    NEGATIVE       1
120                                                    POSITIVE       1
262                                                    NEGATIVE       1
120                                                    NEGATIVE       1
315                                                    POSITIVE       1
118                                                    POSITIVE       1
382                                                    POSITIVE       1
118                                                    NEGATIVE       1
112      general_stock_updates                         POSITIVE       1
460      us_shares                                     POSITIVE       1
488                                                    POSITIVE       1
546                                                    NEGATIVE       1
550                                                    NEGATIVE       1
1        nytimes_updates                               POSITIVE       1

In [18]:
selection = ["Macy's, Inc."]
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                                             date
topic_id topic_label_str                         distilbert
322                                              NEGATIVE      26
77       retailers_bankruptcy                    NEGATIVE      15
89       clothing_retailers_store_closures       NEGATIVE      10
1162                                             NEGATIVE       9
16       us_unemployment                         NEGATIVE       8
322                                              POSITIVE       7
173                                              NEGATIVE       5
1        nytimes_updates                         NEGATIVE       4
89       clothing_retailers_store_closures       POSITIVE       4
108                                              NEGATIVE       3
340                                              NEGATIVE       3
68       retailers_online_sales                  NEGATIVE       3
                                                 POSITIVE       3
28       luxury_fashion_retailers_covid_stimulus NEGATIVE       2
112      general_stock_updates                   NEGATIVE       2
902                                              NEGATIVE       2
238                                              POSITIVE       2
398                                              NEGATIVE       2
698                                              NEGATIVE       2
5        us_shares                               NEGATIVE       2
79       general_stock_updates                   POSITIVE       1
459                                              NEGATIVE       1
468                                              NEGATIVE       1
477                                              NEGATIVE       1
550                                              POSITIVE       1
557                                              POSITIVE       1
737                                              NEGATIVE       1
603                                              NEGATIVE       1
613                                              NEGATIVE       1
1099                                             NEGATIVE       1
1103                                             POSITIVE       1
1149                                             NEGATIVE       1
24       result_announcements                    POSITIVE       1
1410                                             NEGATIVE       1
1477                                             NEGATIVE       1
439                                              NEGATIVE       1
382                                              POSITIVE       1
392                                              NEGATIVE       1
264                                              POSITIVE       1
92       banks                                   NEGATIVE       1
66       etf                                     POSITIVE       1
154                                              NEGATIVE       1
155                                              NEGATIVE       1
43       us_retirement_planning                  NEGATIVE       1
182                                              POSITIVE       1
223                                              NEGATIVE       1
268                                              NEGATIVE       1
388                                              NEGATIVE       1
273                                              NEGATIVE       1
28       luxury_fashion_retailers_covid_stimulus POSITIVE       1
371                                              NEGATIVE       1
                                                 POSITIVE       1
379                                              NEGATIVE       1
382                                              NEGATIVE       1
385                                              NEGATIVE       1
1528                                             NEGATIVE       1

In [19]:
selection = ['Uber Technologies, Inc.']
df_selection = df_combined.iloc[pd.DataFrame(df_combined['filtered_names_match'].tolist()).isin(selection).any(1).values]
len(df_selection)
df_selection[df_selection['sentiment_match'] == True].groupby(['topic_id', 'topic_label_str', 'distilbert']).count()[['date']].sort_values(by='date', ascending=False)

                                                   date
topic_id topic_label_str               distilbert
514                                    NEGATIVE      34
979                                    NEGATIVE      13
1188                                   NEGATIVE      12
248                                    NEGATIVE       9
915                                    NEGATIVE       8
...                                                 ...
586                                    NEGATIVE       1
                                       POSITIVE       1
5        us_shares                     POSITIVE       1
703                                    NEGATIVE       1
1657     credit_cards_digital_payments POSITIVE       1

[73 rows x 1 columns]

In [20]:
df_combined['nb_comp_0'] = df_combined['nb_companies'].apply(lambda x: np.where(x==0, 1, 0))

In [21]:
topic_comp_check = df_combined.groupby('topic_id').agg({'topic_id': 'count', 'nb_comp_0': 'sum'})
topic_comp_check

          topic_id  nb_comp_0
topic_id
0             3882       2261
1             2972       1537
2             2739        132
3             2512        807
4             2155          5
...            ...        ...
1768            19          0
1769            19          2
1770            18         16
1771            18          1
1772            14          0

[1773 rows x 2 columns]

In [22]:
topic_comp_check[topic_comp_check['topic_id'] == topic_comp_check['nb_comp_0']]

          topic_id  nb_comp_0
topic_id
984            108        108
1417            57         57
1757            23         23

In [36]:
df_combined[df_combined['topic_id'] == 1699]

,author,date,domain,title,url,content,topic_area,content_processed,distilbert,finbert,roberta,sentiment_match,topic_id,topic_label_str,topic_score,filtered_names_match,nb_companies,nb_comp_0
38270,Sangmi Cha,2020-03-25,reuters,Suspect in South Korea sex blackmail case iden...,https://www.reuters.com/article/us-southkorea-...,South Korean police took the unusual step of p...,business,south korean police took unusual step publicly...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.488766,[],0,1
117567,https://www.theguardian.com/profile/justinmccurry,2020-05-18,theguardian,South Korean football team apologises for usin...,https://www.theguardian.com/world/2020/may/18/...,A professional football team in South Korea ha...,general,professional football team south korea apologi...,NEGATIVE,NEGATIVE,POSITIVE,False,1699,,0.483769,[],0,1
128507,NaN,2020-05-25,finance.yahoo,South Korean remake of 'Doctor Foster' linked ...,https://finance.yahoo.com/news/south-korean-re...,Adultery is surging in South Korea with worrie...,business,adultery surging south korea worried commentat...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.438486,[],0,1
184128,NaN,2020-07-02,marketscreener,Fuji : Japanese firm to pay damages for harass...,https://www.marketscreener.com/quote/stock/FUJ...,A Japanese real estate company has been ordere...,business,japanese real estate company ordered pay damag...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.404688,[],0,1
193678,Associated Press,2020-07-09,marketwatch,"The mayor of Seoul is found dead, half a day a...",https://www.marketwatch.com/(X(1)A(NCs7wM73zAE...,"SEOUL, South Korea (AP) — The missing mayor of...",business,seoul south korea ap missing mayor south korea...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.840186,[],0,1
193686,Associated Press,2020-07-09,marketwatch,The mayor of Seoul goes missing after one of h...,https://www.marketwatch.com/story/the-mayor-of...,"SEOUL, South Korea (AP) — Authorities searched...",business,seoul south korea ap authorities searched thur...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.799695,[Park Group plc],1,0
193821,NaN,2020-07-09,finance.yahoo,A corporate building in downtown Seoul lights ...,https://uk.finance.yahoo.com/video/corporate-b...,A corporate building in downtown Seoul lights ...,business,corporate building downtown seoul lights led p...,POSITIVE,NEUTRAL,POSITIVE,False,1699,,0.541716,[],0,1
193836,NaN,2020-07-09,finance.yahoo,Seoul's mayor found dead of unknown causes,https://uk.finance.yahoo.com/news/body-seoul-m...,Seoul City Mayor Park Won-soon was found dead ...,business,seoul city mayor park wonsoon found dead frida...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.854137,[Park Group plc],1,0
194272,NaN,2020-07-09,finance.yahoo,Seoul mayor reported missing with searches und...,https://uk.finance.yahoo.com/news/seoul-mayor-...,The mayor of South Korean capital Seoul has be...,business,mayor south korean capital seoul reported miss...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.776621,[],0,1
194652,Amalie Henden,2020-07-09,express,Park Won-soon dead: How did Park Won-soon die?...,https://www.express.co.uk/news/world/1307429/P...,We will use your email address only for sendi...,general,use email address sending newsletters privacy ...,NEGATIVE,NEUTRAL,NEGATIVE,False,1699,,0.772810,[Park Group plc],1,0
195507,NaN,2020-07-09,reuters,Missing Seoul mayor is found dead: Yonhap,https://www.reuters.com/article/us-southkorea-...,Seoul City Mayor Park Won-soon was found dead ...,business,seoul city mayor park wonsoon found dead frida...,NEGATIVE,NEUTRAL,NEGATIVE,False,1699,,0.787879,[],0,1
195518,Hyonhee Shin,2020-07-09,reuters,Seoul mayor found dead after leaving message '...,https://www.reuters.com/article/us-southkorea-...,Longtime Seoul City Mayor Park Won-soon was fo...,business,longtime seoul city mayor park wonsoon found d...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.862888,[Park Group plc],1,0
195599,NaN,2020-07-09,reuters,Missing Seoul mayor left message 'like a will',https://www.reuters.com/article/us-southkorea-...,Hundreds of South Korean police using drones a...,business,hundreds south korean police drones dogs searc...,NEGATIVE,NEUTRAL,NEGATIVE,False,1699,,0.810291,[],0,1
195684,Hyonhee Shin,2020-07-09,reuters,Prominent mayor of South Korea's capital found...,https://www.reuters.com/article/us-southkorea-...,One of South Korea’s most prominent elected of...,business,south korea prominent elected officials longti...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.889428,[Park Group plc],1,0
196299,NaN,2020-07-09,finance.yahoo,Seoul's Mayor Found Dead Hours After He Went M...,https://uk.finance.yahoo.com/news/seouls-mayor...,The mayor of South Korea's capital has been fo...,business,mayor south korea capital found dead hours rep...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.781940,[Guardian Capital Group Limited],1,0
198124,By Choe Sang-Hun,2020-07-10,nytimes,Seoul Mayor Park Won-soon Is Tainted by Scanda...,https://www.nytimes.com/2020/07/10/world/asia/...,"SEOUL, South Korea — Mayor Park Won-soon of Se...",business,seoul south korea mayor park wonsoon seoul spo...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.693161,[],0,1
199630,"Hyonhee Shin, Sangmi Cha",2020-07-10,reuters,Mayor of South Korean capital found dead after...,https://www.reuters.com/article/us-southkorea-...,One of South Korea’s most prominent elected of...,business,south korea prominent elected officials longti...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.878376,[],0,1
199636,Hyonhee Shin,2020-07-10,reuters,Mayor of South Korea's capital found dead amid...,https://www.reuters.com/article/us-southkorea-...,One of South Korea’s most prominent elected of...,business,south korea prominent elected officials longti...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.896298,[Park Group plc],1,0
200768,Associated Press in Seoul,2020-07-12,theguardian,Funeral for Seoul mayor Park Won-soon to be st...,https://www.theguardian.com/world/2020/jul/12/...,The official funeral for the mayor of Seoul wi...,general,official funeral mayor seoul broadcast online ...,POSITIVE,NEUTRAL,POSITIVE,False,1699,,0.813922,[Park Group plc],1,0
201241,NaN,2020-07-12,finance.yahoo,Online funeral set for Seoul mayor over virus ...,https://uk.finance.yahoo.com/news/online-funer...,"SEOUL, South Korea (AP) — The official funeral...",business,seoul south korea ap official funeral seoul ma...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.831787,[Park Group plc],1,0
202303,Hyonhee Shin,2020-07-13,reuters,Funeral of mayor of South Korean capital held ...,https://www.reuters.com/article/us-southkorea-...,"Friends, family and colleagues attended the sm...",business,friends family colleagues attended small funer...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.865110,[Park Group plc],1,0
202322,NaN,2020-07-13,finance.yahoo,Funeral of mayor of South Korean capital held ...,https://in.finance.yahoo.com/news/funeral-mayo...,"- Friends, family and colleagues attended the...",business,friends family colleagues attended small funer...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.865423,[Park Group plc],1,0
202469,Hyonhee Shin,2020-07-13,reuters,Funeral of mayor of South Korean capital held ...,https://www.reuters.com/article/us-southkorea-...,"Friends, family and colleagues attended the sm...",business,friends family colleagues attended small funer...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.874357,[],0,1
203086,NaN,2020-07-13,finance.yahoo,Seoul mayor funeral: anger at use of public fu...,https://in.finance.yahoo.com/news/seoul-mayor-...,A row has broken out over whether the mayor of...,business,row broken mayor seoul found dead week apparen...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.785172,[],0,1
203363,NaN,2020-07-13,finance.yahoo,Funeral of mayor of South Korean capital held ...,https://in.finance.yahoo.com/news/funeral-mayo...,"- Friends, family and colleagues attended the...",business,friends family colleagues attended small funer...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.881251,[Park Group plc],1,0
203447,NaN,2020-07-13,finance.yahoo,"Friends, supporters bid final farewell to Seou...",https://in.finance.yahoo.com/news/friends-supp...,"Seoul [South Korea], July 13 (ANI): Friends, f...",business,seoul south korea july ani friends family supp...,POSITIVE,NEUTRAL,POSITIVE,False,1699,,0.709423,"[ANI Pharmaceuticals, Inc.]",1,0
203706,NaN,2020-07-13,marketscreener,S.Korea to host 2023 annual ADB meeting in Inc...,https://www.marketscreener.com/news/S-Korea-to...,- South Korea's finance ministry\nsaid on Mon...,business,south korea finance ministry said monday count...,POSITIVE,NEUTRAL,POSITIVE,False,1699,,0.455256,[],0,1
210482,NaN,2020-07-16,marketscreener,S.Korea President Moon says tax policies shoul...,https://www.marketscreener.com/news/S-Korea-Pr...,- South Korea President Moon Jae-in\non Frida...,business,south korea president moon jaein friday said a...,NEGATIVE,POSITIVE,POSITIVE,False,1699,,0.410785,[],0,1
210492,NaN,2020-07-16,marketscreener,South Korea President Moon says tax policies s...,https://www.marketscreener.com/news/South-Kore...,"""President Moon Jae-in said (the tax code rev...",business,president moon jaein said tax code revision fo...,NEGATIVE,POSITIVE,POSITIVE,False,1699,,0.415943,[],0,1
232316,NaN,2020-07-24,finance.yahoo,Record HIV infections in South Korea linked to...,https://finance.yahoo.com/news/record-hiv-infe...,A more relaxed sexual culture among young Sout...,business,relaxed sexual culture young south koreans pri...,NEGATIVE,NEGATIVE,NEGATIVE,True,1699,,0.460785,[],0,1

In [39]:
df_combined.loc[193686]['content']

'SEOUL, South Korea (AP) — Authorities searched on Thursday for the mayor of South Korea’s capital, Seoul, who vanished amid sexual harassment allegations after giving his daughter a message that she described as sounding like a will, police said. Police said they were looking for Mayor Park Won-soon near a small hill in Seoul’s Sungbuk neighborhood where his cellphone signal was last detected. They said the phone was currently turned off. His daughter called police on Thursday afternoon and said her father had given her “a will-like” verbal message before leaving their home about 4-5 hours earlier. The daughter didn’t explain the contents of the message, said an officer at the Seoul Metropolitan Police Agency who was responsible for the search operation. His daughter said she decided to call police because she couldn’t reach her father on the phone, the officer said, requesting anonymity because she was not authorized to speak to the media about the matter. About 700 officers, three drones and four police dogs were mobilized in the search, according to police. Kim Ji-hyeong, a Seoul Metropolitan Government official, said Park had not shown up for work on Thursday for unspecified reasons and had canceled all of his schedule, including a meeting with a presidential official at his Seoul City Hall office. The reason for Park’s disappearance wasn’t clear. The Seoul-based SBS television network reported that one of Park’s secretaries had lodged a complaint with police on Wednesday night over alleged sexual harassment such as unwanted physical contact that began in 2017. The SBS report, which didn’t cite any source, said the secretary told police investigators that an unspecified number of other female employees at Seoul City Hall had suffered similar sexual harassment by Park. MBC television carried a similar report. Both the Seoul Metropolitan Police Agency and Park’s office said they couldn’t confirm the reports. Park, a longtime civic activist and human rights lawyer, was elected Seoul mayor in 2011. He became the city’s first mayor to be voted into a third term in June last year. A member of President Moon Jae-in’s liberal Democratic Party, he has been considered a potential presidential candidate in 2022 elections. Park has mostly maintained his activist colors as mayor, criticizing what he described as the country’s growing social and economic inequalities and corrupt ties between large businesses and politicians. As a lawyer, he was credited for winning the country’s first sexual harassment conviction. He has also been an outspoken critic of Japan’s colonial-era policies toward Korea, including the mobilization of Korean and other women as sex slaves for Japanese soldiers. Park also established himself as a fierce opponent of former conservative President Park Geun-hye and openly supported the millions of people who flooded the city’s streets in late 2016 and 2017, calling for her ouster over a corruption scandal. Park Geun-hye, a daughter of late authoritarian leader Park Chung-hee, was formally removed from office in March 2017 and is currently serving a decades-long prison term on bribery and other charges. Seoul, a city of 10 million people, has been a new center of the coronavirus outbreak in South Korea since the country eased its rigid social distancing rules in early May. Authorities are struggling to trace contacts amid surges in cases linked to nightclubs, church services, a huge e-commerce warehouse and door-to-door sellers in Seoul. Park Won-soon has led an aggressive anti-virus campaign, shutting down thousands of nightspots and banning rallies in major downtown streets.'