In [1]:
import numpy as np
import pandas as pd
#from datetime import datetime, timedelta
#import requests
#pip install alpha_vantage
from alpha_vantage.timeseries import TimeSeries
!pwd

In [2]:
df_ner_org_names = pd.read_pickle('./Data/df_ner_org_names')

### Alpha Vantage

In [3]:
key = '2U3MBQY8379TF36Z'
ts = TimeSeries(key=key, output_format='pandas')

In [26]:
df_ner_org_names[0].values[:20]

array(['A & PS', 'A - Measured & Indicated Mineral Resource',
       'A Banking N', 'A Brown & Co', 'A Cappella Books',
       'A Cash Flow Machine Constellation Brands',
       'A Centers for Disease Control and Prevention',
       'A Centres for Disease Control and Prevention', 'A Clarence House',
       'A Comparative Study to Assess the Efficacy, Safety and Immunogenicity of YLB',
       'A Department for International Trade (DIT',
       'A Department of Health and Human Services',
       'A Department of Health and Social Care',
       'A Department of Health and Social care',
       'A Dividend Aristocrat For Capital Gains',
       'A European Space Agency', 'A European Union',
       'A Final Investment Decision', 'A Financial Investment Decision',
       'A Fitch'], dtype=object)

In [27]:
df_org_names_AV = pd.DataFrame()

for name in df_ner_org_names[0].values[:20]:
    #print(name)
    data, _ = ts.get_symbol_search(name)
    #print(data)
    df_org_names_AV = df_org_names_AV.append(data)

len(df_org_names_AV)

A & PS
A - Measured & Indicated Mineral Resource
A Banking N
A Brown & Co
A Cappella Books
A Cash Flow Machine Constellation Brands
A Centers for Disease Control and Prevention
A Centres for Disease Control and Prevention
A Clarence House
A Comparative Study to Assess the Efficacy, Safety and Immunogenicity of YLB

ValueError: Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency. Thank you!

In [21]:
len(df_org_names_AV)

4

In [22]:
df_org_names_AV

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
date,,,,,,,,,
1970-01-01 00:00:00.000000000,ACUG,A and C United Agriculture Developing,Equity,United States,09:30,16:00,UTC-05,USD,0.3333
1970-01-01 00:00:00.000000001,AQFD,A Classified Ad Inc,Equity,United States,09:30,16:00,UTC-05,USD,0.3333
1970-01-01 00:00:00.000000002,ASNCF,A Sonic Aerospace Ltd,Equity,United States,09:30,16:00,UTC-05,USD,0.2857
1970-01-01 00:00:00.000000003,AMFL.BSE,A & M Febcon Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.2222

In [17]:
data1

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
date,,,,,,,,,
1970-01-01 00:00:00.000000000,ACUG,A and C United Agriculture Developing,Equity,United States,09:30,16:00,UTC-05,USD,0.3333
1970-01-01 00:00:00.000000001,AQFD,A Classified Ad Inc,Equity,United States,09:30,16:00,UTC-05,USD,0.3333
1970-01-01 00:00:00.000000002,ASNCF,A Sonic Aerospace Ltd,Equity,United States,09:30,16:00,UTC-05,USD,0.2857
1970-01-01 00:00:00.000000003,AMFL.BSE,A & M Febcon Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.2222

/home/ubuntu/thesis_dir/Thesis