In [1]:
import pandas as pd
import os
import csv
import logging
import numpy as np
import datetime as datetime
import pickle
from tqdm import tqdm

from happytransformer import HappyTextClassification # https://happytransformer.com/
from sklearn.metrics import confusion_matrix
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification

In [2]:
df = pd.read_pickle('./data/df_processed.pickle')
len(df)

365200

In [3]:
df.head(1).append(df.tail(1))

,author,date,domain,title,url,content,topic_area,content_processed
0,Thomas Hughes,2020-01-02,marketbeat,Three Industrial Giants You Should Own In 2020,https://www.marketbeat.com/originals/three-ind...,With the end of the year just around the corne...,business,end year corner past time think positioning fo...
369046,NaN,2020-12-31,marketscreener,FTSE 100 wraps up worst year since 2008 financ...,https://www.marketscreener.com/quote/index/FTS...,"The FTSE 100 lost 1.5%, with consumer stocks, ...",business,ftse lost consumer stocks mainly unilever diag...

# Distilbert
https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english

In [4]:
distilbert = HappyTextClassification("DISTILBERT", "distilbert-base-uncased-finetuned-sst-2-english", num_labels=2)

df['distilbert'] = ''
col_num = df.columns.get_loc('distilbert')

for idx, title in tqdm(enumerate(df['title'])):
    if not pd.isnull(title):
        if len(title.split(" ")) < 512:
            label = distilbert.classify_text(title).label
            df.iloc[idx, col_num] = label
        else:
            df.iloc[idx, col_num] = "TOO_LONG"
    else:
        df.iloc[idx, col_num] = ""

08/27/2021 20:29:36 - INFO - happytransformer.happy_transformer -   Using model: cuda

In [5]:
print(distilbert.classify_text("I am blue"))
print(distilbert.classify_text("I love candy"))
print(distilbert.classify_text("I hate candy"))

TextClassificationResult(label='POSITIVE', score=0.9037488102912903)
TextClassificationResult(label='POSITIVE', score=0.9998459815979004)
TextClassificationResult(label='NEGATIVE', score=0.9976422190666199)

# Finbert
https://huggingface.co/ProsusAI/finbert

In [10]:
finbert = HappyTextClassification("FINBERT", "ProsusAI/finbert", num_labels=3)

df['finbert'] = ''
col_num = df.columns.get_loc('finbert')

for idx, title in tqdm(enumerate(df['title'])):
    if not pd.isnull(title):
        if len(title.split(" ")) < 512:
            label = finbert.classify_text(title).label
            df.iloc[idx, col_num] = label
        else:
            df.iloc[idx, col_num] = "TOO_LONG"
    else:
        df.iloc[idx, col_num] = ""

08/27/2021 21:16:51 - INFO - happytransformer.happy_transformer -   Using model: cuda
365200it [1:06:07, 92.05it/s]

# Roberta
https://huggingface.co/roberta-large-mnli

In [9]:
roberta = HappyTextClassification("ROBERTA", "siebert/sentiment-roberta-large-english", num_labels=2)

df['roberta'] = ''
col_num = df.columns.get_loc('roberta')

for idx, title in tqdm(enumerate(df['title'])):
    if not pd.isnull(title):
        if len(title.split(" ")) < 512:
            label = roberta.classify_text(title).label
            df.iloc[idx, col_num] = label
        else:
            df.iloc[idx, col_num] = "TOO_LONG"
    else:
        df.iloc[idx, col_num] = ""

08/28/2021 16:56:33 - INFO - happytransformer.happy_transformer -   Using model: cuda
365200it [1:54:58, 52.94it/s]

# Preprocessing titles

# drop nan
titles = df['title'].dropna()
# drop long
titles = titles[titles.str.count(" ") < 512]

#tokenizer = AutoTokenizer.from_pretrained("roberta-large-mnli")
#model = AutoModelForSequenceClassification.from_pretrained("roberta-large-mnli")
#pipe = pipeline(task="sentiment-analysis", model="roberta-large-mnli", return_all_scores=True)

roberta = pipeline("sentiment-analysis",model="siebert/sentiment-roberta-large-english")

df['roberta'] = ''
col_num = df.columns.get_loc('roberta')

labels = roberta(list(titles)) # takes too much memory, will need to batch it

for idx, label in tqdm(enumerate(labels)):
    df.iloc[idx, col_num] = label['label']

### Save/Load Sentiment Rankings

In [97]:
process_sentiment = False

if process_sentiment:
    df.to_pickle('./data/df_sentiment.pickle')
else:
    df = pd.read_pickle('./data/df_sentiment.pickle')
    df['finbert'] = df['finbert'].str.upper()
    print(len(df))

365200

In [98]:
df.head(1).append(df.tail(1))

,author,date,domain,title,url,content,topic_area,content_processed,distilbert,finbert,roberta
0,Thomas Hughes,2020-01-02,marketbeat,Three Industrial Giants You Should Own In 2020,https://www.marketbeat.com/originals/three-ind...,With the end of the year just around the corne...,business,end year corner past time think positioning fo...,POSITIVE,NEUTRAL,POSITIVE
369046,NaN,2020-12-31,marketscreener,FTSE 100 wraps up worst year since 2008 financ...,https://www.marketscreener.com/quote/index/FTS...,"The FTSE 100 lost 1.5%, with consumer stocks, ...",business,ftse lost consumer stocks mainly unilever diag...,NEGATIVE,NEGATIVE,NEGATIVE

In [102]:
df_cm = df[(df['distilbert'] != "") & (df['distilbert'] != "TOO_LONG") & (df['distilbert'] != "too_long")]

In [103]:
print(df_cm['distilbert'].value_counts(), '\n')
print(df_cm['finbert'].value_counts(), '\n')
print(df_cm['roberta'].value_counts())

NEGATIVE    233689
POSITIVE    131425
Name: distilbert, dtype: int64

NEUTRAL     198364
NEGATIVE    105979
POSITIVE     60771
Name: finbert, dtype: int64

POSITIVE    202051
NEGATIVE    163063
Name: roberta, dtype: int64

In [105]:
cm = pd.DataFrame(confusion_matrix(df_cm['finbert'], df_cm['distilbert'], labels=['NEGATIVE', 'POSITIVE', 'NEUTRAL']), 
             columns=['NEGATIVE', 'POSITIVE', 'NEUTRAL'],
             index=['NEGATIVE', 'POSITIVE', 'NEUTRAL'])
cm['TOTAL'] = cm.sum(axis=1)
cm.loc['TOTAL']= cm.sum()
cm

          NEGATIVE  POSITIVE  NEUTRAL   TOTAL
NEGATIVE     98357      7622        0  105979
POSITIVE     24353     36418        0   60771
NEUTRAL     110979     87385        0  198364
TOTAL       233689    131425        0  365114

In [106]:
cm = pd.DataFrame(confusion_matrix(df_cm['finbert'], df_cm['roberta'], labels=['NEGATIVE', 'POSITIVE', 'NEUTRAL']), 
             columns=['NEGATIVE', 'POSITIVE', 'NEUTRAL'],
             index=['NEGATIVE', 'POSITIVE', 'NEUTRAL'])
cm['TOTAL'] = cm.sum(axis=1)
cm.loc['TOTAL']= cm.sum()
cm

          NEGATIVE  POSITIVE  NEUTRAL   TOTAL
NEGATIVE     90854     15125        0  105979
POSITIVE      8011     52760        0   60771
NEUTRAL      64198    134166        0  198364
TOTAL       163063    202051        0  365114

In [107]:
cm = pd.DataFrame(confusion_matrix(df_cm['distilbert'], df_cm['roberta'], labels=['NEGATIVE', 'POSITIVE']), 
             columns=['NEGATIVE', 'POSITIVE'],
             index=['NEGATIVE', 'POSITIVE'])
cm['TOTAL'] = cm.sum(axis=1)
cm.loc['TOTAL']= cm.sum()
cm

          NEGATIVE  POSITIVE   TOTAL
NEGATIVE    145922     87767  233689
POSITIVE     17141    114284  131425
TOTAL       163063    202051  365114

In [108]:
df_topics = pd.read_pickle("./data/df_with_topics")
print(len(df_topics))

365200

In [113]:
df_combined = pd.merge(df, df_topics[df_topics['topic_label'] != ""][['topic_id', 'topic_label']], how='left', left_index=True, right_index=True)

In [114]:
sentiment_match = np.array(df_combined[['finbert', 'distilbert', 'roberta']])
sentiment_match = np.all(np.equal(sentiment_match, sentiment_match[:,:1]), axis=1)
df_combined['sentiment_match'] = sentiment_match

In [116]:
df_sent_match = df_combined[df_combined['sentiment_match'] == True]

In [150]:
idx = 400
print(df_sent_match[~df_sent_match['topic_label'].isna()].iloc[idx]['title'])
print(df_sent_match[~df_sent_match['topic_label'].isna()].iloc[idx]['distilbert'])
print(df_sent_match[~df_sent_match['topic_label'].isna()].iloc[idx]['topic_label'])
print(df_sent_match[~df_sent_match['topic_label'].isna()].iloc[idx]['content'])

Burberry Closes US Warehouse After Workers Test Positive
NEGATIVE
['employees', 'amazon', 'warehouse', 'unsafe']
News & Analysis A total of three employees tested positive for the virus, and the facility will be closed indefinitely. VINELAND, New Jersey — The luxury brand Burberry is famed for plaid scarves and $1,800 trench coats. But for employees at its only warehouse in the US — operating as an “essential business” during the pandemic — daily standard issue in the time of Covid-19 is this: one surgical mask, one disinfectant wipe. For weeks, employees have been growing increasingly anxious about working conditions at the New Jersey facility, the British company’s gateway to the US market. This past weekend, they found out that a total of three workers had tested positive for the virus, according to a memo sent to employees and viewed by Bloomberg News. The facility will be shut indefinitely. The 300 employees at the warehouse in Vineland are among the many thousands of mostly low-paid workers across the economy keeping retailers afloat. While steps taken to contain the coronavirus have resulted in shuttered shops nationwide, warehouse workers continue to fill online orders. Concerns about their safety persist. Employees at retailers that stock general goods such as Amazon.com Inc. and Walmart Inc. have become sick even as other businesses, deemed non-essential, remain closed. Several Burberry warehouse workers said they felt unsafe at work. They said social distancing was difficult to practice and that equipment was shared. A Burberry spokesperson said the New Jersey location had reduced capacity by splitting the workforce into separate shifts, each fewer than 50 employees, down from between 150 and 300. The company said it provided hand sanitiser, wipes and surgical masks. Workers continue to receive full wages. Confidential Hotline “Throughout, we have closely followed government and health authority guidelines and put in place measures aligned with these that are designed to help prevent the spread of the virus and ensure everyone’s safety and well-being,” the company said in a statement. “We have a confidential hotline for employees to share any concerns they may have. If anyone is uncomfortable for any reason, we are allowing them to stay home on full pay until further notice.” Workers said the company began taking their temperatures when they arrived for their shifts last week, nearly two months after the pandemic struck New Jersey. But the procedure was stopped several days later due to a faulty thermometer, the workers said. “We are currently exploring having a third-party on site to provide temperature checks when we eventually reopen,” the company said. Issuing Paychecks Unlike most retailers, Burberry has not placed employees on furlough and continues to issue paychecks to its 10,000 workers in the US and abroad. Executives took a 20 percent pay cut into June and the company has said it won’t accept government money to pay staff. Burberry warehouse employees said that after the first employee contracted the virus, the company distributed a memo. However, rumours persisted about the illness of two additional employees. Warehouse workers said they were told about these two cases only after Bloomberg News asked Burberry to comment. Burberry disputed this, saying it informed workers each time an employee became ill. Essential Employees A prolonged closing of the New Jersey warehouse, 40 miles south of Philadelphia, would extend shipping times for shoppers. The company, for whom the Americas are responsible for more than one-fifth of annual sales, said it has no current plans to shut down its US e-commerce site and will warn customers of delays. The company said its sales may have fallen as much as 80 percent in the final weeks of March, and workers said orders were down noticeably. Burberry said the warehouse had remained in operation because it met the requirements for an essential business set by New Jersey Governor Phil Murphy. The company provided workers with an essential-employee letter signed by Ashley Peña, a human-resources official. The document, dated March 23, was shown to Bloomberg News by an employee who said they were told to carry it on their way to work. “Please accept this letter as confirmation that this employee is a warehouse worker at the Burberry (Wholesale) Limited distribution center,” it read. “As a warehouse worker, this employee needs to be physically present at the work site in order to perform their duties.” Stagger Shifts One employee, convinced the warehouse was not doing essential business, reported the company to state authorities. Murphy’s office declined to comment on whether the facility is essential, referring questions to state Attorney General Gurbir Grewal. A representative of Grewal’s office said it was looking into the matter. Most US apparel warehouses have remained open during the pandemic. They’ve been classified as essential logistics operations. In an April 8 executive order, Murphy mandated that warehouse operators must stagger shifts and lunch breaks, limit sharing of tools, provide hand sanitiser and sanitizing wipes, clean and disinfect according to Centers for Disease Control and Prevention guidelines, and promptly notify workers if someone in the workplace tests positive for Covid-19. Companies have a legal duty to tell employees about positive tests, said Aaron Olsen, a partner at the Haeggquist & Eck law firm focused on employment law. “If they’re not doing that, employees have a right to complain to” the US Occupational Safety and Health Administration, or OSHA, Olsen said. “Even at businesses that are truly essential, they need to be creating a safe environment.” By Kim Bhasin, Anders Melin and Polly Mosendz Gucci Just Left the Fashion Calendar Behind. Who Will Follow?

In [140]:
#df_ner = pd.read_pickle('./data/df_ner_210717.pickle')

In [139]:
#df_ner